* {
    margin:0;
    padding:0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    background-image: url(./Img/fondo.jpg);
}

.container-fluid {
    z-index: 1000;
    position: absolute;
    background-color: rgb(1, 1, 32);
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: opacity 5s ease;
}

@keyframes opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.preload {
    margin: auto;
    width: 500px;
    height: 50px;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preload h1 {
    color: transparent;
    padding: 30px;
    -webkit-text-stroke: 1px white;
    text-shadow: 0px 0px 13px white ;
    position: relative;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
}

.preload h1 span {
    position: absolute;
    right: 0;
    width: 0;
    background: rgb(1, 1, 32);
    border-left: 2px solid yellow;

    animation: maquina 3s ease;
}

@keyframes maquina {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.cerrar {
    transform: translateY(-100%);
    transition: all 0.5s;
}

.light #boton {
    z-index: 100;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    border-radius: 20px 20px;
    border-color: white;
    position: absolute;
    width: auto;
    height: auto;
    background-color: rgb(3, 3, 46);
}

.dark #boton {
    z-index: 100;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    border-radius: 20px 20px;
    border-color: rgb(3, 3, 46);
    position: absolute;
    width: auto;
    height: auto;
    background-color: yellow;
}

.light #boton span {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: 2px;
    position: relative;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-moon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>');
    background-repeat: no-repeat;
    background-position: center center;
}

.dark #boton span {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: 2px;
    position: relative;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sun" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="rgb(3, 3, 46)" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="4" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>');
    background-repeat: no-repeat;
    background-position: center center;
}

.btnVoz {
    z-index: 100;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    height: auto;
    /* padding: 5px; */
}

.btnVoz span {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: 2px;
    position: relative;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-speakerphone" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 8a3 3 0 0 1 0 6" /><path d="M10 8v11a1 1 0 0 1 -1 1h-1a1 1 0 0 1 -1 -1v-5" /><path d="M12 8h0l4.524 -3.77a0.9 .9 0 0 1 1.476 .692v12.156a0.9 .9 0 0 1 -1.476 .692l-4.524 -3.77h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h8" /></svg>');
    background-repeat: no-repeat;
    background-position: center center;
}

.divContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo {
    z-index: 1;
    width: 100vw;
    height: 95vh;
    object-fit: cover;
    opacity: 1;
}

.divFormulario {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    margin: auto;
    padding-top: 10px;
    position: absolute;
}

.dark .btnInicio {
    display: inline-block;
    position: absolute;
    width: auto;
    height: 10vh;
    padding: 10px 30px;
    border-radius: 30px;
    border: 0;
    box-shadow: 0px 0px 20px white;
    color: white;
    background-color: #ffff00;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 4vh;
    font-weight: 600;
    text-shadow: 0 0 4px rgb(3, 3, 46);
    cursor: pointer;
    transition: background-color .5s linear;
    animation: opacityBtnD 1s ease;
}

@keyframes opacityBtnD {
    from{
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

.dark .btnInicio:hover {
    background-color: rgb(248, 248, 134);
}

.light .btnInicio {
    display: inline-block;
    position: absolute;
    width: auto;
    height: 10vh;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid rgb(3, 3, 46);
    box-shadow: 0px 0px 20px yellow;
    color: rgb(3, 3, 46);
    background-color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 4vh;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .5s linear;
    animation: opacityBtnL 1s ease;
}

@keyframes opacityBtnL {
    from{
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

.light .btnInicio:hover {
    background-color: rgb(3, 3, 46);
    color: white;
}

.sweetAlert2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: grey;
}

.dark form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    border: 2px solid yellow;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
}

.light form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    border: 2px solid yellow;
    background-color: rgb(255, 255, 255, 0.6);
    position: absolute;
}

.imgFondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.divTexto {
    width: 100%;
    height: auto;
    max-height: 80%;
    overflow: auto;
    text-align: justify;
    margin-right: 4px;
}

.divBtns {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
}

.dark .parrafo {
    font-family: 'Bellefair', serif;
    font-weight: bold;
    color: white;
    margin: 0 10px;
}

.light .parrafo {
    font-family: 'Bellefair', serif;
    font-weight: bold;
    color: rgb(3, 3, 46);
    margin: 0 10px;
}

.dark center {
    font-family: 'Bellefair', serif;
    color: white;
    font-size: 2rem;
}

.light center {
    font-family: 'Bellefair', serif;
    color: rgb(3, 3, 46);
    font-size: 2rem;
}

.btn {
    display: inline-block;
    font-family: 'Bellefair', serif;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 4px;
    background-color: yellow;
    border-radius: 30px;
    cursor: pointer;
    transition: box-shadow .5s linear;
}

.btn:hover {
    box-shadow: 0 0 5px white;
}

.datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: 100%;
}

.datos div {
    width: 100%;
    text-align: center;
}

.dark .input {
    display: inline-block;
    font-size: 16px;
    color: grey;
    width: 30vw;
    min-width: 180px;
    height: 38px;
    margin-top: 12px;
    padding-left: 5px;
    border-radius: 10px 10px;
    border: 1px solid rgb(3, 3, 46); ;
}

.light .input {
    display: inline-block;
    font-size: 16px;
    color: grey;
    width: 30vw;
    min-width: 180px;
    height: 38px;
    margin-top: 12px;
    padding-left: 5px;
    border-radius: 10px 10px;
    border: 1px solid yellow; ;
}

.dark .btnDatos {
    display: inline-block;
    font-family: 'Bellefair', serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(3, 3, 46);
    padding: 0 15px;
    width: auto;
    height: 40px;
    background-color: yellow;
    border: 1px solid rgb(3, 3, 46);
    border-radius: 10px 10px;
    cursor: pointer;
    transition: background-color .5s linear;
}

.dark .btnDatos:hover {
    background-color: rgb(248, 248, 134);
}

.light .btnDatos {
    display: inline-block;
    font-family: 'Bellefair', serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 0 15px;
    width: auto;
    height: 40px;
    background-color: rgb(3, 3, 46);
    border: 1px solid white;
    border-radius: 10px 10px;
    cursor: pointer;
    transition: background-color .5s linear;
}

.light .btnDatos:hover {
    background-color: rgba(3, 3, 46, .8);
}


.btnComienzo {
    display: inline-block;
    font-family: 'Bellefair', serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding: 10px 3vw;
    width: auto;
    height: 60px;
    margin: 20px 0;
    background-color: rgb(3, 3, 46);
    border: 1px solid white;
    border-radius: 10px 10px;
    margin: 0;
    cursor: pointer;
    transition: background-color .5s linear;
}

.btnComienzo:hover {
    background-color: rgb(15, 15, 54);
}

.eleccionLibro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    max-height: 80%;
    overflow: auto;
    justify-content: space-evenly;
    text-align: center;
    margin-right: 4px;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-button:end {
    height: 3px;
    border: 1px solid white;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border: 1px solid transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: grey;
    border: 1px solid white;
    border-radius: 10px;
}

.divLibros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
    width: auto;
    min-width: 30%;
    object-fit: cover;
    margin: 10px; 
}

.divLibros img {
    height: 70%;
    width: auto;
    margin: 10px 0;
    box-shadow: 0 0 10px grey;
    border: 1px solid white;
}

.inputLibros {
    margin: 5px 0;
}

.tituloLibros {
    width: 100%;
    min-width: 180px;
    height: auto;
    font-family: 'Bellefair', serif;
    font-size: 100%;
    color: white;
    margin: 5px 0;
}

.btnLibros {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Bellefair', serif;
    font-weight: bold;
    color: white;
    padding: 3vh 3vw;
    width: auto;
    height: auto;
    background-color: rgb(3, 3, 46);
    border: 1px solid white;
    border-radius: 10px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color .5s linear;
}

.btnLibros:hover {
    background-color: rgb(15, 15, 54);
}

.divTextoFinal {
    width: 90%;
    height: auto;
    text-align: center;
}

.swal2-styled.swal2-confirm {
    color: white;
    background-color: rgb(3, 3, 46);
    font-size: 3vh;
    font-weight: bold;
}

.swal2-styled.swal2-cancel {
    color: white;
    background-color: #6e7881;
    font-size: 3vh;
    font-weight: bold;;
}

.dark footer {
    z-index: 100;
    width: 100vw;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.light footer {
    z-index: 100;
    width: 100vw;
    height: 5vh;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 10px;
    color: yellow;
    margin: auto;
}

@media (min-width: 920px) {
    .divTexto{
        overflow: scroll;
    }
    .eleccionLibro {
        overflow: scroll;
    }
}

@media (min-width: 420px) {
    footer p {
        font-size: 12px;
    }
}